/* Animations */
@keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slide-in-left {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slide-in-right {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes pop-in {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  /* Appliquer les animations */
  .animate-fade-in {
    animation: fade-in 1s ease-out forwards;
  }
  
  .animate-fade-in-delay {
    animation: fade-in 1s ease-out 0.5s forwards;
    opacity: 0;
  }
  
  .animate-slide-in-left {
    animation: slide-in-left 1s ease-out forwards;
  }
  
  .animate-slide-in-right {
    animation: slide-in-right 1s ease-out forwards;
  }
  
  .animate-pop-in {
    animation: pop-in 0.5s ease-out forwards;
    opacity: 0;
  }