<div
  class="w-screen h-screen flex items-center justify-center relative overflow-hidden"
>
  <div
    class="absolute top-0 left-0 min-w-full min-h-full bg-landing bg-cover bg-center"
  >
    <video
      class="object-cover absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 min-w-full min-h-full max-w-max"
      src="/inception.mp4"
      disablePictureInPicture
      loop
      muted
      autoplay
    ></video>
  </div>
  <div class="absolute w-full h-full top-0 left-0 bg-black opacity-50"></div>
  <div
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex justify-center items-center flex-col"
  >
    <h1 class="text-7xl font-Montserrat drop-shadow-xl text-white">
      ScriptForge
    </h1>
    <button
      class="bg-white/5 hover:font-bold backdrop-blur-sm text-white border-4 px-4 py-1 m-4 lg:m-6 inline-block text-center shadow-lg rounded-full cursor-pointer hover:scale-110 transition duration-300 ease-in-out"
      (click)="navigateToScenarios()"
    >
      Générer un Scénario
    </button>
  </div>
  <div class="fixed bottom-5 text-white w-full flex justify-between px-7">
    <span class="text-sm">© 2025 ScriptForge. Tous droits réservés.</span>
    <a
      href="https://github.com/ton-github"
      class="hover:scale-105 transition duration-300 ease-in-out hover:font-bold"
      ><i class="fa-brands fa-github"></i> Github</a
    >
  </div>
</div>
